<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">KALIMBA</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-60 text-[#fff]">
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Thông tin liên hệ
                </h1>
                <nav class="mt-5 space-y-4">
                    <p>Hotline: 0778192070</p>
                    <p>Email: phananhkhoa41004@gmail.com</p>
                    <p>Địa chỉ: Comming soon</p>
                </nav>
            </div>
        </main>
        <nav class="h-48 bg-[#130C0E] p-2 border-gray-500 border-b">
            <h1 class="font-bold flex justify-center text-white text-[22px]">
                Hãy vững bước theo đam mê của mình
            </h1>
            <h3 class="flex justify-center text-white text-[22px]">
                Akuy Tin rằng với sự đam mê và nỗ lực, bạn chắc chắn sẽ đạt được
                thành công
            </h3>
            <div class="w-80 pt-7 ml-[450px]">
                <ul class="flex justify-around">
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a
                            href="https://www.facebook.com/profile.php?id=100026007228375"
                            ><i class="fa-brands fa-square-facebook"></i
                        ></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href="https://www.instagram.com/akuy.66/"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </nav>
        <footer class="h-10 bg-[#130C0E] p-2">
            <ul class="flex justify-around text-gray-500 items-center">
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./refund-policy.html">Chính sách hoàn tiền</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./privacy-policy.html"
                        >Chính sách quyền riêng tư</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./terms-of-service.html">Điều khoản dịch vụ</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./shipping-policy.html">Chính sách vận chuyển</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./contact-information.html">Thông tin liên hệ</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
