<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">KALIMBA</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-60 text-[#fff]">
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Chính sách quyền riêng tư
                </h1>
                <nav class="space-y-4 mt-5">
                    <p>
                        Trang web này được điều hành bởi Akuy Music Việt Nam.
                        Chúng tôi rất coi trọng việc bảo mật dữ liệu và tuân thủ
                        nghiêm ngặt luật bảo vệ dữ liệu. Chính sách quyền riêng
                        tư này giải thích cách Chúng tôi thu thập, lưu trữ, sử
                        dụng và tiết lộ bất kỳ dữ liệu cá nhân nào mà Chúng tôi
                        thu thập về quý vị khi quý vị sử dụng trang web này,
                        cũng như cách Chúng tôi bảo vệ quyền riêng tư và bảo mật
                        thông tin cá nhân của quý vị. Quyền riêng tư của quý vị
                        quan trọng với Chúng tôi vì vậy dù quý vị mới sử dụng
                        dịch vụ của Chúng tôi hay là người dùng lâu năm, vui
                        lòng dành thời gian để tìm hiểu các thông lệ của Akuy
                        Music Việt Nam và liên hệ với Chúng tôi nếu quý vị có
                        bất kỳ thắc mắc nào.
                    </p>
                    <p>
                        Akuy Music Việt Nam (“chúng tôi” hoặc “của chúng tôi”)
                        được gọi là “đơn vị kiểm soát dữ liệu” về dữ liệu cá
                        nhân của quý vị và do đó chịu trách nhiệm về tính hợp
                        pháp của những việc Chúng tôi làm với dữ liệu cá nhân
                        của quý vị.
                    </p>
                </nav>
            </div>
        </main>
    </body>
</html>
