<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
        <style>
            .hidden {
                display: none;
            }

            .visible {
                display: block;
            }
        </style>
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/guitar.html">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/ukulele.html">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/kalimba.html">KALIMBA</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/gear.html">GEAR</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-48 text-[#fff]">
                    <li class="mx-5 relative">
                        <input
                            id="search-input"
                            type="text"
                            placeholder="Search..."
                            class="hidden absolute top-[-5px] w-[200px] bg-slate-900 text-[#fff] right-[40px] p-1 rounded"
                        />
                        <a href="#" id="search-icon"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Chính sách quyền riêng tư
                </h1>
                <nav class="space-y-4 mt-5">
                    <p>
                        Trang web này được điều hành bởi Akuy Music Việt Nam.
                        Chúng tôi rất coi trọng việc bảo mật dữ liệu và tuân thủ
                        nghiêm ngặt luật bảo vệ dữ liệu. Chính sách quyền riêng
                        tư này giải thích cách Chúng tôi thu thập, lưu trữ, sử
                        dụng và tiết lộ bất kỳ dữ liệu cá nhân nào mà Chúng tôi
                        thu thập về quý vị khi quý vị sử dụng trang web này,
                        cũng như cách Chúng tôi bảo vệ quyền riêng tư và bảo mật
                        thông tin cá nhân của quý vị. Quyền riêng tư của quý vị
                        quan trọng với Chúng tôi vì vậy dù quý vị mới sử dụng
                        dịch vụ của Chúng tôi hay là người dùng lâu năm, vui
                        lòng dành thời gian để tìm hiểu các thông lệ của Akuy
                        Music Việt Nam và liên hệ với Chúng tôi nếu quý vị có
                        bất kỳ thắc mắc nào.
                    </p>
                    <p>
                        Akuy Music Việt Nam (“chúng tôi” hoặc “của chúng tôi”)
                        được gọi là “đơn vị kiểm soát dữ liệu” về dữ liệu cá
                        nhân của quý vị và do đó chịu trách nhiệm về tính hợp
                        pháp của những việc Chúng tôi làm với dữ liệu cá nhân
                        của quý vị.
                    </p>
                    <h2>
                        <b
                            >1. MỤC ĐÍCH THU THẬP THÔNG TIN CÁ NHÂN CỦA NGƯỜI
                            TIÊU DÙNG</b
                        >
                    </h2>
                    <p>
                        Cung cấp dịch vụ khách hàng và quản lý, sử dụng thông
                        tin cá nhân của người tiêu dùng nhằm mục đích quản lý cơ
                        sở dữ liệu về người tiêu dùng và kịp thời xử lý các tình
                        huống phát sinh (nếu có).
                    </p>
                    <h2>
                        <b>2. PHẠM VI SỬ DỤNG THÔNG TIN CÁ NHÂN</b>
                    </h2>
                    <p>
                        Website Akuy Music sử dụng thông tin của người tiêu dùng
                        cung cấp để:
                    </p>
                    <p>- Cung cấp các dịch vụ đến người tiêu dùng;</p>
                    <p>
                        - Gửi các thông báo về các hoạt động trao đổi thông tin
                        giữa người tiêu dùng và chúng tôi;
                    </p>
                    <p>
                        - Ngăn ngừa các hoạt động phá hoại, chiếm đoạt tài khoản
                        người dùng của người tiêu dùng hoặc các hoạt động giả
                        mạo người tiêu dùng;
                    </p>
                    <p>
                        - Liên lạc và giải quyết khiếu nại với người tiêu dùng.
                    </p>
                    <p>
                        - Xác nhận và trao đổi thông tin về giao dịch của người
                        tiêu dùng tại web Akuy Music;
                    </p>
                    <p>
                        - Trong trường hợp có yêu cầu của cơ quan quản lý nhà
                        nước có thẩm quyền.
                    </p>
                    <h2><b>3. THỜI GIAN LƯU TRỮ THÔNG TIN CÁ NHÂN</b></h2>
                    <p>
                        Không có thời hạn ngoại trừ trường hợp người tiêu dùng
                        gửi yêu cầu hủy bỏ tới chúng tôi hoặc công ty giải thể
                        hoặc bị phá sản.
                    </p>
                    <h2>
                        <b
                            >4. NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ ĐƯỢC TIẾP CẬN
                            VỚI THÔNG TIN CÁ NHÂN CỦA NGƯỜI TIÊU DÙNG</b
                        >
                    </h2>
                    <p>
                        Người tiêu dùng đồng ý rằng, trong trường hợp cần thiết,
                        các cơ quan/tổ chức/cá nhân sau có quyền được tiếp cận
                        và thu thập các thông tin cá nhân của mình, bao gồm:
                    </p>
                    <p>- Ban quản lý Website Akuy Music;</p>
                    <p>
                        - Bên thứ ba có dịch vụ tích hợp với Website Akuy Music.
                    </p>
                    <p>- Công ty tổ chức sự kiện và nhà tài trợ;</p>
                    <p>
                        - Cơ quan nhà nước có thẩm quyền trong trường hợp có yêu
                        cầu theo quy định tại quy chế hoạt động;
                    </p>
                    <p>- Công ty nghiên cứu thị trường;</p>
                    <p>
                        - Các văn bản tài chính, pháp lý và công ty kiểm toán;
                    </p>
                    <p>
                        - Bên khiếu nại chứng minh được hành vi vi phạm của
                        người tiêu dùng.
                    </p>
                    <h2>
                        <b
                            >5. ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG
                            TIN</b
                        >
                    </h2>
                    <p>Địa chỉ: comming soon</p>
                    <p>Điện thoại: 0778192070</p>
                    <p>Email: phananhkhoa41004@gmail.com</p>
                    <h2>
                        <b
                            >6. PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI TIÊU DÙNG TIẾP
                            CẬN VÀ CHỈNH SỬA DỮ LIỆU THÔNG TIN CÁ NHÂN CỦA
                            MÌNH</b
                        >
                    </h2>
                    <p>
                        - Người tiêu dùng có quyền tự kiểm tra, cập nhật, điều
                        chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách
                        đăng nhập vào Website Akuy Music và chỉnh sửa thông tin
                        cá nhân hoặc yêu cầu chúng tôi thực hiện việc này.
                    </p>
                    <p>
                        - Người tiêu dùng có quyền gửi khiếu nại về việc lộ
                        thông tin cá nhân của mình cho bên thứ 3 đến chúng tôi.
                        Khi tiếp nhận những phản hồi này, chúng tôi sẽ xác nhận
                        lại thông tin, có trách nhiệm trả lời lý do và hướng dẫn
                        người tiêu dùng khôi phục và bảo mật lại thông tin.
                    </p>
                    <p>
                        - Các hình thức tiếp nhận thông tin khiếu nại của người
                        tiêu dùng:
                    </p>
                    <p class="ml-5">1. Qua email: phananhkhoa41004@gmail.com</p>
                    <p class="ml-5">2. Qua điện thoại: 0778192070</p>
                    <h2>
                        <b
                            >7. CAM KẾT BẢO MẬT THÔNG TIN CÁ NHÂN CỦA NGƯỜI TIÊU
                            DÙNG</b
                        >
                    </h2>
                    <p>
                        Thông tin cá nhân của người tiêu dùng trên Website Akuy
                        Music được chúng tôi cam kết bảo mật tuyệt đối theo
                        chính sách bảo mật thông tin cá nhân được đăng tải trên
                        Website Akuy Music. Việc thu thập và sử dụng thông tin
                        của mỗi người tiêu dùng chỉ được thực hiện khi có sự
                        đồng ý của người tiêu dùng trừ những trường hợp pháp
                        luật có quy định khác và quy định này.
                    </p>
                    <p>
                        Không sử dụng, không chuyển giao, cung cấp hoặc tiết lộ
                        cho bên thứ 3 về thông tin cá nhân của người tiêu dùng
                        khi không có sự đồng ý của người tiêu dùng ngoại trừ các
                        trường hợp được quy định tại quy định này hoặc quy định
                        của pháp luật.
                    </p>
                    <p>
                        Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn
                        công dẫn đến mất mát dữ liệu cá nhân của người tiêu
                        dùng, chúng tôi có trách nhiệm thông báo và làm việc với
                        cơ quan chức năng điều tra và xử lý kịp thời, đồng thời
                        thông báo cho người tiêu dùng được biết về vụ việc.
                    </p>
                    <p>
                        Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của
                        người tiêu dùng bao gồm thông tin hóa đơn kế toán chứng
                        từ số hóa.
                    </p>
                    <h2>
                        <b
                            >8. CƠ CHẾ TIẾP NHẬN VÀ GIẢI QUYẾT KHIẾU NẠI LIÊN
                            QUAN ĐẾN VIỆC THÔNG TIN CỦA NGƯỜI TIÊU DÙNG</b
                        >
                    </h2>
                    <p>
                        Khi phát hiện thông tin cá nhân của mình bị sử dụng sai
                        mục đích hoặc phạm vi, người tiêu dùng gửi email khiếu
                        nại đến email: phananhkhoa41004@gmail.com hoặc gọi điện
                        thoại tới số: 0778192070 để khiếu nại và cung cấp chứng
                        cứ liên quan tới vụ việc cho chúng tôi. Chúng tôi cam
                        kết sẽ phản hồi ngay lập tức hoặc chậm nhất là trong
                        vòng 24 giờ làm việc kể từ thời điểm nhận được khiếu
                        nại.
                    </p>
                </nav>
            </div>
        </main>
        <nav class="h-48 bg-[#130C0E] p-2 border-gray-500 border-b">
            <h1 class="font-bold flex justify-center text-white text-[22px]">
                Hãy vững bước theo đam mê của mình
            </h1>
            <h3 class="flex justify-center text-white text-[22px]">
                Akuy Tin rằng với sự đam mê và nỗ lực, bạn chắc chắn sẽ đạt được
                thành công
            </h3>
            <div class="w-80 pt-7 ml-[450px]">
                <ul class="flex justify-around">
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a
                            href="https://www.facebook.com/profile.php?id=100026007228375"
                            ><i class="fa-brands fa-square-facebook"></i
                        ></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href="https://www.instagram.com/akuy.66/"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </nav>
        <footer class="h-10 bg-[#130C0E] p-2">
            <ul class="flex justify-around text-gray-500 items-center">
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./refund-policy.html">Chính sách hoàn tiền</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./privacy-policy.html"
                        >Chính sách quyền riêng tư</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./terms-of-service.html">Điều khoản dịch vụ</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./shipping-policy.html">Chính sách vận chuyển</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./contact-information.html">Thông tin liên hệ</a>
                </li>
            </ul>
        </footer>
    </body>
    <script src="../../src/policies/privacy-policy.ts"></script>
</html>
