<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
        <style>
            .hidden {
                display: none;
            }

            .visible {
                display: block;
            }
            @media (max-width: 768px) {
                .open-menu {
                    display: block;
                }
                .close-menu {
                    display: block;
                }
                .fa-user {
                    display: block;
                }
                .fa-cart-shopping {
                    display: block;
                }
            }
        </style>
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5 max-md:ml-3 max-md:mx-auto"
                ><img
                    class="h-14 w-14 max-md:h-14 max-md:w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a
                href="../home.html"
                class="text-[32px] text-[#fff] ml-3 max-md:hidden"
                >AKUY MUSIC</a
            >
            <div>
                <ul
                    class="main-menu flex ml-[100px] text-[18px] text-[#fff] font-bold max-md:h-[100vh] max-md:fixed max-md:top-0 max-md:left-0 max-md:right-0 max-md:z-10 max-md:flex-col max-md:justify-around max-md:items-start max-md:pt-16 max-md:bg-[#130C0E] max-md:transition max-md:duration-1000 max-md:ease-linear max-md:hidden"
                >
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/guitar.html">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/ukulele.html">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/kalimba.html">KALIMBA</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/gear.html">GEAR</a>
                    </li>
                    <div
                        class="close-menu text-[2rem] hidden m-[10px] cursor-pointer max-md:absolute max-md:top-[20px] max-md:right-[20px]"
                    >
                        <i class="fa-solid fa-times"></i>
                    </div>
                    <span class="icons max-md:p-[20px] max-md:flex"
                        ><a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] text-[2rem] hidden max-md:text-[19px] m-[20px] cursor-pointer fa-regular fa-user"
                            ></i></a
                        ><a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] text-[2rem] hidden max-md:text-[19px] m-[20px] cursor-pointer fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </span>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-48 text-[#fff] max-md:hidden">
                    <li class="mx-5 relative">
                        <input
                            id="search-input"
                            type="text"
                            placeholder="Search..."
                            class="hidden absolute top-[-5px] w-[200px] bg-slate-900 text-[#fff] right-[40px] p-1 rounded"
                        />
                        <a href="#" id="search-icon"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div
                class="open-menu hidden text-white text-[2rem] m-[10px] cursor-pointer"
            >
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Chính sách vận chuyển
                </h1>
                <nav class="space-y-4 mt-5">
                    <h2><b>1. Mục Đích</b></h2>
                    <p>
                        Chúng tôi đưa ra chính sách vận chuyển nhằm nâng cao
                        chất lượng dịch vụ, thống nhất quy trình làm việc. Công
                        khai, rõ ràng, tạo sự thuận lợi cho quý khách hàng trong
                        quá trình mua các sản phẩm tại Akuy Music.
                    </p>
                    <h2><b>2. Đối Tượng</b></h2>
                    <p>
                        Chính sách vận chuyển được áp dụng cho tất cả các quý
                        khách hàng mua hàng tại Akuy Music.
                    </p>
                    <h2><b>3. Phạm Vi</b></h2>
                    <p>
                        Chúng tôi nhận đặt hàng và giao hàng đến tận nơi tại tất
                        cả các tỉnh thành trên toàn quốc. Tất cả hàng hóa vận
                        chuyển đến nơi của quý khách hàng sẽ được đóng gói cẩn
                        thận, đúng quy cách và bao gồm các chứng từ liên quan.
                    </p>
                    <h2><b>4. Dịch Vụ Giao Hàng</b></h2>
                    <p>
                        Khi mua hàng tại Akuy Music, chúng tôi sẽ trực tiếp giao
                        hàng cho quý khách hàng hoặc thông qua các nhà cung cấp
                        dịch vụ như: Lalamove, Ahamove, Grab, Viettel Post,
                        Vietnam Post.
                    </p>
                    <h2><b>5. Quy Trình</b></h2>
                    <p>
                        - Sau khi nhận đơn hàng và xác minh thông tin, chúng tôi
                        sẽ tiến hành giao hàng theo yêu cầu của quý khách hàng.
                    </p>
                    <p>
                        - Chúng tôi sẽ đóng gói sản phẩm và thực hiện giao hàng
                        hoặc lựa chọn một nhà cung cấp dịch vụ chuyển phát phù
                        hợp để giao hàng tới quý khách hàng.
                    </p>
                    <h2><b>6. Thời Gian</b></h2>
                    <p>
                        - Thời gian giao hàng tới địa điểm quý khách hàng yêu
                        cầu theo chỉ tiêu về thời gian giao hàng của nhà cung
                        cấp dịch vụ.
                    </p>
                    <p>
                        - Đối với khu vực TP Hồ Chí Minh, hàng sẽ được giao ngay
                        trong ngày nếu quý khách hàng đặt hàng trong giờ làm
                        việc của chúng tôi. Nếu quý khách hàng đặt hàng ngoài
                        giờ làm việc thì hàng sẽ được giao vào ngày làm việc
                        tiếp theo.
                    </p>
                    <p>
                        - Để thuận tiện và sắp xếp thời gian, địa điểm nhận hàng
                        phù hợp, quý khách hàng có thể chủ động liên hệ với nhà
                        cung cấp dịch vụ chuyển phát để nhận hàng.
                    </p>
                    <h2><b>7. Phí Vận Chuyển</b></h2>
                    <p>
                        Chi phí vận chuyển sẽ thay đổi tùy thuộc vào loại sản
                        phẩm, giá trị sản phẩm, địa điểm nhận hàng, thời gian
                        giao hàng, đơn vị giao hàng. Chúng tôi sẽ thông báo cụ
                        thể tới quý khách hàng trước khi giao hàng.
                    </p>
                    <h2><b>8. Nhận Hàng</b></h2>
                    <p>
                        - Quý khách hàng kiểm tra sản phẩm và thanh toán tiền
                        (nếu có) khi thấy đúng với sản phẩm đã đặt.
                    </p>
                    <p>
                        - Trong khi nhận hàng, nếu quý khách hàng không phản hồi
                        thông tin cho chúng tôi thì coi như quý khách hàng đã
                        nhận đúng, đủ hàng theo thỏa thuận.
                    </p>
                </nav>
            </div>
        </main>
        <nav class="h-48 bg-[#130C0E] p-2 border-gray-500 border-b">
            <h1
                class="font-bold flex justify-center text-white text-[22px] max-md:text-[18px]"
            >
                Hãy vững bước theo đam mê của mình
            </h1>
            <h3
                class="flex justify-center text-white text-[22px] max-md:text-center max-md:text-[16px]"
            >
                Akuy Tin rằng với sự đam mê và nỗ lực, bạn chắc chắn sẽ đạt được
                thành công
            </h3>
            <div class="flex justify-center pt-7">
                <ul class="flex justify-around max-md:w-80">
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a
                            href="https://www.facebook.com/profile.php?id=100026007228375"
                            ><i class="fa-brands fa-square-facebook"></i
                        ></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a href="https://www.instagram.com/akuy.66/"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </nav>
        <footer
            class="h-10 bg-[#130C0E] p-2 max-md:h-28 max-md:flex max-md:justify-center"
        >
            <ul
                class="flex justify-around text-gray-500 items-center max-md:text-[13px] max-md:grid max-md:grid-cols-2 max-md:gap-y-2"
            >
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./refund-policy.html">Chính sách hoàn tiền</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./privacy-policy.html"
                        >Chính sách quyền riêng tư</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./terms-of-service.html">Điều khoản dịch vụ</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./shipping-policy.html">Chính sách vận chuyển</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./contact-information.html">Thông tin liên hệ</a>
                </li>
            </ul>
        </footer>
    </body>
    <script src="../../src/policies/shipping-policy.ts"></script>
</html>
