<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">KALIMBA</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-60 text-[#fff]">
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Điều khoản dịch vụ
                </h1>
                <nav class="mt-5 space-y-4">
                    <p>Điều khoản và điều kiện giao dịch, mua bán hàng hóa</p>
                    <p>
                        Chào mừng Quý khách hàng đến với Website Akuy Music. Trụ
                        sở đặt tại: Comming soon.
                    </p>
                    <p>
                        Khi Quý khách truy cập vào Website Akuy Music đồng nghĩa
                        với việc Quý khách hàng đã đồng ý với các điều khoản
                        này.
                    </p>
                    <p>
                        Website này có thể được thay đổi, chỉnh sửa hoặc điều
                        chỉnh bất kỳ nội dung nào trong Quy định và Điều kiện sử
                        dụng và có hiệu lực sau 5 ngày, khi những thay đổi được
                        thông báo và đăng tải đầy đủ trên website.
                    </p>
                    <p>
                        Quý khách hàng vui lòng đọc kỹ Điều khoản và Điều kiện
                        giao dịch này trước khi đặt mua bất kỳ sản phẩm, dịch vụ
                        nào trên Website Akuy Music.
                    </p>
                    <h2><b>1. Phạm vi áp dụng và hướng dẫn sử dụng</b></h2>
                    <p>
                        - Điều khoản và điều kiện được áp dụng cho Quý khách
                        hàng:
                    </p>
                    <p>
                        + Đặt mua các sản phẩm được bán trên Website Akuy Music.
                    </p>
                    <p>
                        + Có nhu cầu được giao sản phẩm đến các địa điểm phù hợp
                        với Chính sách giao hàng đăng tải trên Website Akuy
                        Music.
                    </p>
                    <p>- Khách hàng tại Điều khoản và Điều kiện này bao gồm:</p>
                    <p>
                        + Mọi cá nhân có đầy đủ năng lực hành vi dân sự, từ 15
                        tuổi trở lên và có tài sản để thực hiện giao dịch mua
                        hàng, hoặc có sự giám sát của cha mẹ hay người giám hộ
                        hợp pháp.
                    </p>
                    <p>
                        + Mọi tổ chức được thành lập và hoạt động hợp pháp theo
                        quy định của pháp luật Việt Nam.
                    </p>
                    <p>
                        - Nghiêm cấm sử dụng bất kỳ nội dung nào của trang web
                        với mục đích thương mại hoặc nhân danh bất kỳ đối tác
                        thứ ba nào nếu không được sự cho phép bằng văn bản của
                        chúng tôi.
                    </p>
                    <p>
                        - Khi đăng ký tài khoản, Quý khách hàng phải cung cấp
                        thông tin xác thực về bản thân và cập nhật nếu có bất kỳ
                        thay đổi nào, đồng thời có trách nhiệm bảo mật với tài
                        khoản, mật khẩu đăng nhập của mình. Trường hợp tài khoản
                        bị truy cập trái phép, Quý khách hàng phải thông báo
                        ngay cho chúng tôi để xử lý. Chúng tôi không chịu trách
                        nhiệm đối với những thiệt hại hoặc mất mát xảy ra do Quý
                        khách hàng không tuân thủ theo quy định.
                    </p>
                    <h2><b>2. Cách hình thành hợp đồng</b></h2>
                    <p>
                        - Mọi thông tin về sản phẩm được đăng tải trên Website
                        Akuy Music trong bất cứ trường hợp nào không được hiểu
                        là đề nghị giao kết hợp đồng của chúng tôi tới Quý khách
                        hàng. Quan hệ hợp đồng chỉ hình thành và có hiệu lực từ
                        thời điểm Quý khách hàng đặt hàng và đơn đặt hàng được
                        chấp nhận dưới một trong hai hình thức sau: Thông báo
                        gửi đến email mà Quý khách hàng cung cấp hoặc tin nhắn
                        từ chúng tôi gửi đến số điện thoại của Quý khách hàng
                        xác nhận đơn đặt hàng đã được xử lý thành công.
                    </p>
                    <p>
                        - Khi muốn hủy đơn đặt hàng (nếu có), Quý khách hàng
                        phải thực hiện theo quy định tại Chính sách đổi trả đã
                        đăng tải trên Website 6. Đơn hàng có thể bị hủy một phần
                        hoặc toàn bộ theo xác nhận của Quý khách hàng với Bộ
                        phận CSKH. Chúng tôi có quyền hủy Đơn đặt hàng của Quý
                        khách hàng trong một số trường hợp được quy định tại
                        Chính sách giao hàng. Khi đó, số tiền Quý khách hàng đã
                        thanh toán tương ứng với phần giá trị đơn hàng bị hủy sẽ
                        được hoàn trả lại cho Quý khách hàng theo quy định.
                    </p>
                    <p>
                        - Để đảm bảo tính công bằng và quyền lợi của Quý khách
                        hàng là người tiêu dùng cuối cùng, chúng tôi có quyền áp
                        dụng các điều kiện hạn chế trong việc triển khai các
                        chương trình khuyến mãi: Không giới hạn, giới hạn về số
                        lượng sản phẩm tối đa trong mỗi CTKM mà một Khách hàng
                        được mua, giới hạn về mục đích mua sản phẩm (chỉ sử dụng
                        cho tiêu dùng, không được kinh doanh, mua đi bán lại…),
                        hoặc các giới hạn khác (nếu có) được quy định chi tiết
                        trong từng CTKM. Các điều kiện hạn chế này sau đây được
                        gọi là Chính sách khuyến mãi.
                    </p>
                    <p>
                        Vi vậy, chúng tôi có quyền không xác nhận, từ chối, hủy
                        hoặc thu hồi lại các sản phẩm đã giao của các Đơn đặt
                        hàng vi phạm bất kỳ nội dung nào trong Chính sách khuyến
                        mãi.
                    </p>
                    <p>
                        - Chúng tôi có quyền không xác nhận, từ chối hoặc hủy,
                        thu hồi các sản phẩm đã giao của các Đơn đặt hàng của
                        Quý khách hàng trong một số trường hợp khác theo quyết
                        định của chúng tôi mà không cần thông báo.
                    </p>
                    <h2><b>3. Đặt Hàng Và Xác Nhận Đơn Hàng</b></h2>
                    <p>
                        Khi Quý khách hàng đặt hàng tại Website Akuy Music,
                        chúng tôi sẽ tiếp nhận và gửi đến Quý khách hàng thông
                        báo về đơn hàng. Sau đó, Quý khách hàng cần thực hiện
                        thêm một số bước xác nhận đơn hàng. Chúng tôi chỉ xác
                        nhận đơn hàng khi yêu cầu đặt hàng thỏa mãn các tiêu chí
                        thực hiện đơn hàng tại Website Akuy Music.
                    </p>
                    <p>
                        Để đơn đặt hàng được xác nhận nhanh chóng, Quý khách
                        hàng vui lòng cung cấp đầy đủ và chính xác các thông tin
                        liên quan đến việc giao nhận hàng, hoặc các điều khoản
                        và điều kiện của chương trình khuyến mãi (nếu có) mà Quý
                        khách hàng tham gia.
                    </p>
                    <h2><b>4. Giá Trị Đơn Hàng Và Hình Thức Thanh Toán</b></h2>
                    <p>
                        - Giá cả của sản phẩm trên Website Akuy Music có thể đã
                        bao gồm hoặc chưa bao gồm thuế giá trị gia tăng. Trong
                        mọi trường hợp, giá của sản phẩm không bao gồm chi phí
                        vận chuyển. Chi phí vận chuyển được quy định tại Chính
                        sách giao hàng đăng tải trên Website này.
                    </p>
                    <p>
                        - Quý khách hàng thanh toán giá trị của Đơn đặt hàng
                        theo quy định tại Chính sách thanh toán. Khi nhấn
                        (click) vào nút “Thanh Toán” để tiến hành thanh toán Đơn
                        đặt hàng có nghĩa là Quý khách hàng xác nhận đã rà soát
                        kỹ các thông tin của đơn hàng và đồng ý với Điều khoản
                        và điều kiện được áp dụng cho giao dịch mua hàng đó.
                    </p>
                    <p>
                        - Chúng tôi cung cấp các hình thức thanh toán linh hoạt
                        để Quý khách hàng tùy chọn: Thanh toán tiền mặt sau khi
                        nhận hàng, Thẻ thanh toán nội địa ATM, Thẻ thanh toán
                        quốc tế hoặc chuyển khoản trực tiếp vào một trong các
                        tài khoản ngân hàng của chúng tôi.
                    </p>
                    <p>
                        - Tuy nhiên, để đảm bảo tính an toàn cho Quý khách hàng
                        trong quá trình thanh toán, những đơn hàng có giá trị từ
                        20 triệu đồng, chúng tôi chỉ chấp nhận hình thức thanh
                        toán trước bằng cách: Chuyển khoản hoặc Thanh toán
                        Online qua cổng thanh toán được tích hợp sẵn trên
                        Website.
                    </p>
                    <p>
                        - Để đảm bảo an toàn thanh toán, Quý khách hàng lưu ý:
                    </p>
                    <p>
                        + Chỉ thực hiện thanh toán trực tuyến tại cửa sổ liên
                        kết từ Website Akuy Music chuyển đến;
                    </p>
                    <p>
                        + Sử dụng và bảo quản thẻ (Thẻ tín dụng, thẻ ATM, thẻ
                        mua hàng…) và thông tin thẻ/tài khoản một cách cẩn thận.
                    </p>
                    <h2><b>5. Mã Giảm Giá Và Chương Trình Khuyến Mại</b></h2>
                    <p>
                        - Với mong muốn mang lại nhiều lợi ích cho Quý khách
                        hàng, chúng tôi thường xuyên có các chương trình khuyến
                        mại, giảm giá đặc biệt. Thể lệ và điều kiện giới hạn của
                        từng chương trình sẽ được cập nhật và có thể được thay
                        đổi mà không cần báo trước.
                    </p>
                    <p>
                        - Mã giảm giá là hình thức chiết khấu mà chúng tôi dành
                        cho Quý khách hàng, có thể có giá trị giảm một phần hoặc
                        toàn phần giá trị đơn hàng.
                    </p>
                    <p>
                        - Mỗi đơn hàng chỉ được áp dụng một (01) mã giảm giá.
                        Quý khách sẽ nhận được thông tin về điều khoản và điều
                        kiện sử dụng mã giảm giá kèm theo.
                    </p>
                    <p>
                        - Chúng tôi có quyền từ chối các đơn hàng sử dụng mã
                        giảm giá không thỏa mãn điều kiện và điều khoản mà không
                        cần báo trước. Trong trường hợp này, mã giảm giá sẽ
                        không được cấp lại. Ngoài ra, chúng tôi có quyền từ chối
                        việc gia hạn mã đã hết hạn sử dụng, mã không được sử
                        dụng hết giá trị hoặc các trường hợp đơn phương ngừng
                        thực hiện đơn hàng phát sinh từ quý khách hàng.
                    </p>
                </nav>
            </div>
        </main>
    </body>
</html>
