<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
        <style>
            .hidden {
                display: none;
            }

            .visible {
                display: block;
            }
            @media (max-width: 768px) {
                .open-menu {
                    display: block;
                }
                .close-menu {
                    display: block;
                }
                .fa-user {
                    display: block;
                }
                .fa-cart-shopping {
                    display: block;
                }
            }
        </style>
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../home.html" class="ml-5 mx-auto max-md:ml-3"
                ><img
                    class="h-14 w-14 max-md:h-14 max-md:w-14"
                    src="../../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a
                href="../home.html"
                class="text-[32px] text-[#fff] ml-3 max-md:hidden"
                >AKUY MUSIC</a
            >
            <div>
                <ul
                    class="main-menu flex ml-[100px] text-[18px] text-[#fff] font-bold max-md:h-[100vh] max-md:fixed max-md:top-0 max-md:left-0 max-md:right-0 max-md:z-10 max-md:flex-col max-md:justify-around max-md:items-start max-md:pt-16 max-md:bg-[#130C0E] max-md:transition max-md:duration-1000 max-md:ease-linear max-md:hidden"
                >
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/guitar.html">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/ukulele.html">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/kalimba.html">KALIMBA</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="../collections/gear.html">GEAR</a>
                    </li>
                    <div
                        class="close-menu text-[2rem] hidden m-[10px] cursor-pointer max-md:absolute max-md:top-[20px] max-md:right-[20px]"
                    >
                        <i class="fa-solid fa-times"></i>
                    </div>
                    <span class="icons max-md:p-[20px] max-md:flex"
                        ><a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] text-[2rem] hidden max-md:text-[19px] m-[20px] cursor-pointer fa-regular fa-user"
                            ></i></a
                        ><a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] text-[2rem] hidden max-md:text-[19px] m-[20px] cursor-pointer fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </span>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-48 text-[#fff] max-md:hidden">
                    <li class="mx-5 relative">
                        <input
                            id="search-input"
                            type="text"
                            placeholder="Search..."
                            class="hidden absolute top-[-5px] w-[200px] bg-slate-900 text-[#fff] right-[40px] p-1 rounded"
                        />
                        <a href="#" id="search-icon"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href="../login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div
                class="open-menu hidden text-white text-[2rem] m-[10px] cursor-pointer"
            >
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <main class="p-16 flex justify-center">
            <div class="w-[600px]">
                <h1 class="text-[#130C0E] text-center text-[35px] font-bold">
                    Điều khoản dịch vụ
                </h1>
                <nav class="mt-5 space-y-4">
                    <p>Điều khoản và điều kiện giao dịch, mua bán hàng hóa</p>
                    <p>
                        Chào mừng Quý khách hàng đến với Website Akuy Music. Trụ
                        sở đặt tại: Comming soon.
                    </p>
                    <p>
                        Khi Quý khách truy cập vào Website Akuy Music đồng nghĩa
                        với việc Quý khách hàng đã đồng ý với các điều khoản
                        này.
                    </p>
                    <p>
                        Website này có thể được thay đổi, chỉnh sửa hoặc điều
                        chỉnh bất kỳ nội dung nào trong Quy định và Điều kiện sử
                        dụng và có hiệu lực sau 5 ngày, khi những thay đổi được
                        thông báo và đăng tải đầy đủ trên website.
                    </p>
                    <p>
                        Quý khách hàng vui lòng đọc kỹ Điều khoản và Điều kiện
                        giao dịch này trước khi đặt mua bất kỳ sản phẩm, dịch vụ
                        nào trên Website Akuy Music.
                    </p>
                    <h2><b>1. Phạm vi áp dụng và hướng dẫn sử dụng</b></h2>
                    <p>
                        - Điều khoản và điều kiện được áp dụng cho Quý khách
                        hàng:
                    </p>
                    <p>
                        + Đặt mua các sản phẩm được bán trên Website Akuy Music.
                    </p>
                    <p>
                        + Có nhu cầu được giao sản phẩm đến các địa điểm phù hợp
                        với Chính sách giao hàng đăng tải trên Website Akuy
                        Music.
                    </p>
                    <p>- Khách hàng tại Điều khoản và Điều kiện này bao gồm:</p>
                    <p>
                        + Mọi cá nhân có đầy đủ năng lực hành vi dân sự, từ 15
                        tuổi trở lên và có tài sản để thực hiện giao dịch mua
                        hàng, hoặc có sự giám sát của cha mẹ hay người giám hộ
                        hợp pháp.
                    </p>
                    <p>
                        + Mọi tổ chức được thành lập và hoạt động hợp pháp theo
                        quy định của pháp luật Việt Nam.
                    </p>
                    <p>
                        - Nghiêm cấm sử dụng bất kỳ nội dung nào của trang web
                        với mục đích thương mại hoặc nhân danh bất kỳ đối tác
                        thứ ba nào nếu không được sự cho phép bằng văn bản của
                        chúng tôi.
                    </p>
                    <p>
                        - Khi đăng ký tài khoản, Quý khách hàng phải cung cấp
                        thông tin xác thực về bản thân và cập nhật nếu có bất kỳ
                        thay đổi nào, đồng thời có trách nhiệm bảo mật với tài
                        khoản, mật khẩu đăng nhập của mình. Trường hợp tài khoản
                        bị truy cập trái phép, Quý khách hàng phải thông báo
                        ngay cho chúng tôi để xử lý. Chúng tôi không chịu trách
                        nhiệm đối với những thiệt hại hoặc mất mát xảy ra do Quý
                        khách hàng không tuân thủ theo quy định.
                    </p>
                    <h2><b>2. Cách hình thành hợp đồng</b></h2>
                    <p>
                        - Mọi thông tin về sản phẩm được đăng tải trên Website
                        Akuy Music trong bất cứ trường hợp nào không được hiểu
                        là đề nghị giao kết hợp đồng của chúng tôi tới Quý khách
                        hàng. Quan hệ hợp đồng chỉ hình thành và có hiệu lực từ
                        thời điểm Quý khách hàng đặt hàng và đơn đặt hàng được
                        chấp nhận dưới một trong hai hình thức sau: Thông báo
                        gửi đến email mà Quý khách hàng cung cấp hoặc tin nhắn
                        từ chúng tôi gửi đến số điện thoại của Quý khách hàng
                        xác nhận đơn đặt hàng đã được xử lý thành công.
                    </p>
                    <p>
                        - Khi muốn hủy đơn đặt hàng (nếu có), Quý khách hàng
                        phải thực hiện theo quy định tại Chính sách đổi trả đã
                        đăng tải trên Website 6. Đơn hàng có thể bị hủy một phần
                        hoặc toàn bộ theo xác nhận của Quý khách hàng với Bộ
                        phận CSKH. Chúng tôi có quyền hủy Đơn đặt hàng của Quý
                        khách hàng trong một số trường hợp được quy định tại
                        Chính sách giao hàng. Khi đó, số tiền Quý khách hàng đã
                        thanh toán tương ứng với phần giá trị đơn hàng bị hủy sẽ
                        được hoàn trả lại cho Quý khách hàng theo quy định.
                    </p>
                    <p>
                        - Để đảm bảo tính công bằng và quyền lợi của Quý khách
                        hàng là người tiêu dùng cuối cùng, chúng tôi có quyền áp
                        dụng các điều kiện hạn chế trong việc triển khai các
                        chương trình khuyến mãi: Không giới hạn, giới hạn về số
                        lượng sản phẩm tối đa trong mỗi CTKM mà một Khách hàng
                        được mua, giới hạn về mục đích mua sản phẩm (chỉ sử dụng
                        cho tiêu dùng, không được kinh doanh, mua đi bán lại…),
                        hoặc các giới hạn khác (nếu có) được quy định chi tiết
                        trong từng CTKM. Các điều kiện hạn chế này sau đây được
                        gọi là Chính sách khuyến mãi.
                    </p>
                    <p>
                        Vi vậy, chúng tôi có quyền không xác nhận, từ chối, hủy
                        hoặc thu hồi lại các sản phẩm đã giao của các Đơn đặt
                        hàng vi phạm bất kỳ nội dung nào trong Chính sách khuyến
                        mãi.
                    </p>
                    <p>
                        - Chúng tôi có quyền không xác nhận, từ chối hoặc hủy,
                        thu hồi các sản phẩm đã giao của các Đơn đặt hàng của
                        Quý khách hàng trong một số trường hợp khác theo quyết
                        định của chúng tôi mà không cần thông báo.
                    </p>
                    <h2><b>3. Đặt Hàng Và Xác Nhận Đơn Hàng</b></h2>
                    <p>
                        Khi Quý khách hàng đặt hàng tại Website Akuy Music,
                        chúng tôi sẽ tiếp nhận và gửi đến Quý khách hàng thông
                        báo về đơn hàng. Sau đó, Quý khách hàng cần thực hiện
                        thêm một số bước xác nhận đơn hàng. Chúng tôi chỉ xác
                        nhận đơn hàng khi yêu cầu đặt hàng thỏa mãn các tiêu chí
                        thực hiện đơn hàng tại Website Akuy Music.
                    </p>
                    <p>
                        Để đơn đặt hàng được xác nhận nhanh chóng, Quý khách
                        hàng vui lòng cung cấp đầy đủ và chính xác các thông tin
                        liên quan đến việc giao nhận hàng, hoặc các điều khoản
                        và điều kiện của chương trình khuyến mãi (nếu có) mà Quý
                        khách hàng tham gia.
                    </p>
                    <h2><b>4. Giá Trị Đơn Hàng Và Hình Thức Thanh Toán</b></h2>
                    <p>
                        - Giá cả của sản phẩm trên Website Akuy Music có thể đã
                        bao gồm hoặc chưa bao gồm thuế giá trị gia tăng. Trong
                        mọi trường hợp, giá của sản phẩm không bao gồm chi phí
                        vận chuyển. Chi phí vận chuyển được quy định tại Chính
                        sách giao hàng đăng tải trên Website này.
                    </p>
                    <p>
                        - Quý khách hàng thanh toán giá trị của Đơn đặt hàng
                        theo quy định tại Chính sách thanh toán. Khi nhấn
                        (click) vào nút “Thanh Toán” để tiến hành thanh toán Đơn
                        đặt hàng có nghĩa là Quý khách hàng xác nhận đã rà soát
                        kỹ các thông tin của đơn hàng và đồng ý với Điều khoản
                        và điều kiện được áp dụng cho giao dịch mua hàng đó.
                    </p>
                    <p>
                        - Chúng tôi cung cấp các hình thức thanh toán linh hoạt
                        để Quý khách hàng tùy chọn: Thanh toán tiền mặt sau khi
                        nhận hàng, Thẻ thanh toán nội địa ATM, Thẻ thanh toán
                        quốc tế hoặc chuyển khoản trực tiếp vào một trong các
                        tài khoản ngân hàng của chúng tôi.
                    </p>
                    <p>
                        - Tuy nhiên, để đảm bảo tính an toàn cho Quý khách hàng
                        trong quá trình thanh toán, những đơn hàng có giá trị từ
                        20 triệu đồng, chúng tôi chỉ chấp nhận hình thức thanh
                        toán trước bằng cách: Chuyển khoản hoặc Thanh toán
                        Online qua cổng thanh toán được tích hợp sẵn trên
                        Website.
                    </p>
                    <p>
                        - Để đảm bảo an toàn thanh toán, Quý khách hàng lưu ý:
                    </p>
                    <p>
                        + Chỉ thực hiện thanh toán trực tuyến tại cửa sổ liên
                        kết từ Website Akuy Music chuyển đến;
                    </p>
                    <p>
                        + Sử dụng và bảo quản thẻ (Thẻ tín dụng, thẻ ATM, thẻ
                        mua hàng…) và thông tin thẻ/tài khoản một cách cẩn thận.
                    </p>
                    <h2><b>5. Mã Giảm Giá Và Chương Trình Khuyến Mại</b></h2>
                    <p>
                        - Với mong muốn mang lại nhiều lợi ích cho Quý khách
                        hàng, chúng tôi thường xuyên có các chương trình khuyến
                        mại, giảm giá đặc biệt. Thể lệ và điều kiện giới hạn của
                        từng chương trình sẽ được cập nhật và có thể được thay
                        đổi mà không cần báo trước.
                    </p>
                    <p>
                        - Mã giảm giá là hình thức chiết khấu mà chúng tôi dành
                        cho Quý khách hàng, có thể có giá trị giảm một phần hoặc
                        toàn phần giá trị đơn hàng.
                    </p>
                    <p>
                        - Mỗi đơn hàng chỉ được áp dụng một (01) mã giảm giá.
                        Quý khách sẽ nhận được thông tin về điều khoản và điều
                        kiện sử dụng mã giảm giá kèm theo.
                    </p>
                    <p>
                        - Chúng tôi có quyền từ chối các đơn hàng sử dụng mã
                        giảm giá không thỏa mãn điều kiện và điều khoản mà không
                        cần báo trước. Trong trường hợp này, mã giảm giá sẽ
                        không được cấp lại. Ngoài ra, chúng tôi có quyền từ chối
                        việc gia hạn mã đã hết hạn sử dụng, mã không được sử
                        dụng hết giá trị hoặc các trường hợp đơn phương ngừng
                        thực hiện đơn hàng phát sinh từ quý khách hàng.
                    </p>
                    <h2><b>6. Vận Chuyển, Giao Hàng</b></h2>
                    <p>
                        - Sản phẩm sẽ được giao đến địa chỉ quý khách hàng cung
                        cấp trong đơn đặt hàng vào thời gian quy định tại chính
                        sách giao hàng, hoặc thời gian quý khách hàng yêu cầu
                        với điều kiện phù hợp với chính sách đó.
                    </p>
                    <p>
                        - Trường hợp quý khách hàng muốn thay đổi địa chỉ nhận
                        hàng thì quý khách hàng vui lòng gọi điện lại cho bộ
                        phận CSKH thông báo về họ tên người nhận, số điện thoại
                        liên lạc và địa chỉ nhận hàng mới. Khi được chúng tôi
                        yêu cầu thì người nhận hàng được quý khách hàng chỉ định
                        nhận sản phẩm phải xuất trình giấy tờ tùy thân như:
                        CMND/ Thẻ căn cước công dân/ Hộ chiếu… để nhân viên giao
                        hàng kiểm tra trước khi nhận sản phẩm.
                    </p>
                    <p>
                        - Người nhận hàng phải kiểm tra tình trạng sản phẩm và
                        ký vào phiếu giao hàng sau khi nhận. Rủi ro và quyền sở
                        hữu sản phẩm sẽ được chuyển cho quý khách hàng kể từ
                        thời điểm người nhận hàng ký vào phiếu giao hàng. Quý
                        khách hàng cần giữ lại phiếu giao hàng để đối soát hoặc
                        để giải quyết các vấn đề có thể phát sinh liên quan đến
                        sản phẩm (nếu có).
                    </p>
                    <h2><b>7. Đổi, Trả Sản Phẩm</b></h2>
                    <p>
                        Việc đổi, trả sản phẩm được thực hiện theo quy định tại
                        chính sách đổi trả đăng tải trên website Akuy Music.
                    </p>
                    <h2><b>8. Tích Điểm Và Đổi Điểm</b></h2>
                    <p>
                        - Quy định về tích lũy và quy đổi điểm thưởng được thực
                        hiện theo chính sách cụ thể tại từng thời điểm và từng
                        chương trình của chúng tôi.
                    </p>
                    <p>
                        - Chúng tôi khuyến khích quý khách hàng đăng ký tài
                        khoản trên website Akuy Music để thực hiện mua hàng dễ
                        dàng và tiện lợi hơn, cũng như được cập nhật thông tin
                        mới về lịch sử giao dịch, hàng hóa, các chương trình
                        khuyến mãi và ưu đãi đặc biệt dành cho khách hàng thân
                        thiết.
                    </p>
                    <h2><b>9. Quy Định Về Bảo Mật Thông Tin</b></h2>
                    <p>
                        - Chúng tôi luôn đề cao và coi trọng việc bảo mật thông
                        tin và sử dụng các biện pháp tốt nhất để bảo vệ mọi
                        thông tin của quý khách hàng. Các thông tin trong quá
                        trình thanh toán sẽ được mã hóa để đảm bảo an toàn.
                    </p>
                    <p>
                        - Quý khách hàng không được sử dụng bất kỳ chương trình,
                        công cụ hay hình thức nào để can thiệp vào hệ thống làm
                        thay đổi cấu trúc dữ liệu. Website cũng nghiêm cấm mọi
                        hành vi phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt
                        động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ
                        liệu hệ thống. Cá nhân hay tổ chức vi phạm sẽ bị tước bỏ
                        quyền lợi cũng như bị truy tố trách nhiệm trước pháp
                        luật nếu cần thiết.
                    </p>
                    <p>
                        - Quy định bảo mật thông tin của Quý khách hàng sẽ được
                        thực hiện theo điều khoản Bảo vệ thông tin cá nhân Khách
                        hàng trong Quy chế hoạt động được đăng tải trên Website.
                    </p>
                    <p>
                        - Quy định về bảo mật thông tin thanh toán cho Quý khách
                        hàng được thực hiện theo những điều khoản tại Chính sách
                        bảo mật thanh toán.
                    </p>
                    <h2><b>10. Xử Lý Khiếu Nại</b></h2>
                    <p>
                        - Khi có bất kỳ thắc mắc hay khiếu nại nào, bao gồm
                        nhưng không giới hạn ở chất lượng hàng hóa/dịch vụ, việc
                        giao sản phẩm, thái độ của nhân viên giao hàng, đổi/trả
                        sản phẩm,… Quý khách hàng có thể liên hệ với Bộ phận
                        CSKH theo số Hotline: 0778192070 hoặc gửi phản ánh đến
                        email: phananhkhoa41004@gmail.com.
                    </p>
                    <p>
                        - Quý khách hàng vui lòng cung cấp Mã đơn hàng được
                        chúng tôi xác nhận gửi đến email. Bộ phận CSKH của chúng
                        tôi sẽ tiếp nhận ngay và phản hồi lại Quý khách hàng
                        trong thời gian sớm nhất.
                    </p>
                    <p>
                        - Khi có nhu cầu về hỗ trợ kỹ thuật, bảo hành sản phẩm,
                        Quý khách hàng vui lòng tham khảo các quy định tại Chính
                        sách bảo hành của hãng sản xuất sản phẩm mà Quý khách
                        hàng đã mua.
                    </p>
                    <p>
                        - Trường hợp giải quyết khiếu nại do lỗi nhập sai thông
                        tin từ Website Akuy Music:
                    </p>
                    <p>
                        Quý khách hàng có trách nhiệm cung cấp đầy đủ và chính
                        xác các thông tin khi tham gia giao dịch trên Website
                        Akuy Music.
                    </p>
                    <p>
                        Nếu Quý khách hàng nhập sai thông tin gửi về cho Chúng
                        tôi thì Chúng tôi có quyền từ chối thực hiện giao dịch.
                    </p>
                    <p>
                        Ngoài ra, trong mọi trường hợp, Quý khách hàng có quyền
                        đơn phương chấm dứt giao dịch nếu đã thực hiện các biện
                        pháp sau đây:
                    </p>
                    <p>
                        + Đã thông báo cho Chúng tôi về việc hủy giao dịch qua
                        Hotline: 0778192070 hoặc gửi yêu cầu vào email:
                        phananhkhoa41004@gmail.com
                    </p>
                    <p>
                        + Trả lại sản phẩm đã nhận nhưng chưa sử dụng hoặc hưởng
                        bất kỳ lợi ích nào từ sản phẩm đó (theo quy định tại
                        Chính sách đổi trả hàng hóa).
                    </p>
                    <h2><b>11. Giới Hạn Trách Nhiệm</b></h2>
                    <p>
                        Trong mọi trường hợp, chúng tôi không chịu trách nhiệm
                        đối với mọi thiệt hại, mất mát, tổn thất mà quý khách
                        hàng gặp phải trừ khi do lỗi cố ý của chúng tôi gây ra.
                        Trách nhiệm của chúng tôi đối với quý khách hàng (nếu
                        có) chỉ giới hạn ở giá trị sản phẩm mà quý khách hàng
                        mua trên website.
                    </p>
                    <h2><b>12. Điều Khoản Chung</b></h2>
                    <p>
                        - Các quy định được dẫn chiếu là một phần không thể tách
                        rời của điều khoản và điều kiện này.
                    </p>
                    <p>
                        - Chúng tôi và quý khách hàng có trách nhiệm thực hiện
                        mọi nghĩa vụ được quy định trong điều khoản và điều kiện
                        này.
                    </p>
                    <p>
                        - Nếu bất kỳ nội dung nào của điều khoản và điều kiện bị
                        cơ quan có thẩm quyền xem là vô hiệu hoặc không thể thực
                        hiện toàn bộ hay một phần, thì tính hiệu lực của các nội
                        dung khác trong điều khoản và điều kiện này sẽ không bị
                        ảnh hưởng.
                    </p>
                    <p>
                        - Điều khoản và điều kiện này và mọi vấn đề phát sinh
                        trong quan hệ hợp đồng giữa chúng tôi và quý khách hàng
                        sẽ được hiểu và điều chỉnh theo quy định của luật pháp
                        Việt Nam. Mọi tranh chấp, khiếu nại phát sinh từ hoặc
                        liên quan đến nội dung của điều khoản và điều kiện này
                        sẽ được giải quyết thông qua thương lượng trong vòng ba
                        mươi (30) ngày. Quá thời hạn trên mà không thể giải
                        quyết thì những tranh chấp, khiếu nại trên có thể được
                        giải quyết tại cơ quan tòa án có thẩm quyền.
                    </p>
                </nav>
            </div>
        </main>
        <nav class="h-48 bg-[#130C0E] p-2 border-gray-500 border-b">
            <h1
                class="font-bold flex justify-center text-white text-[22px] max-md:text-[18px]"
            >
                Hãy vững bước theo đam mê của mình
            </h1>
            <h3
                class="flex justify-center text-white text-[22px] max-md:text-center max-md:text-[16px]"
            >
                Akuy Tin rằng với sự đam mê và nỗ lực, bạn chắc chắn sẽ đạt được
                thành công
            </h3>
            <div class="flex justify-center pt-7">
                <ul class="flex justify-around max-md:w-80">
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a
                            href="https://www.facebook.com/profile.php?id=100026007228375"
                            ><i class="fa-brands fa-square-facebook"></i
                        ></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px] max-md:text-[30px] max-md:hover:text-[31px]"
                    >
                        <a href="https://www.instagram.com/akuy.66/"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </nav>
        <footer
            class="h-10 bg-[#130C0E] p-2 max-md:h-28 max-md:flex max-md:justify-center"
        >
            <ul
                class="flex justify-around text-gray-500 items-center max-md:text-[13px] max-md:grid max-md:grid-cols-2 max-md:gap-y-2"
            >
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./refund-policy.html">Chính sách hoàn tiền</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./privacy-policy.html"
                        >Chính sách quyền riêng tư</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./terms-of-service.html">Điều khoản dịch vụ</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./shipping-policy.html">Chính sách vận chuyển</a>
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./contact-information.html">Thông tin liên hệ</a>
                </li>
            </ul>
        </footer>
    </body>
    <script src="../../src/policies/terms-of-service.ts"></script>
</html>
