<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home - My Music Store</title>
        <link rel="stylesheet" href="../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body class="font-mono">
        <header class="h-20 p-2.5 bg-[#1C1C1C] flex items-center">
            <a href="../pages/home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../pages/home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7"><a href="">GUITAR</a></li>
                    <li class="mx-7"><a href="">UKULELE</a></li>
                    <li class="mx-7"><a href="">KALIMBA</a></li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-60 text-[#fff]">
                    <li class="mx-5">
                        <a href=""
                            ><i class="fa-solid fa-magnifying-glass"></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""><i class="fa-regular fa-user"></i></a>
                    </li>
                    <li class="mx-5">
                        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="w-full relative overflow-hidden">
                <div
                    class="absolute inset-0 flex transition-transform duration-500 ease-in-out"
                    id="slideshow"
                >
                    <div class="min-w-full h-screen">
                        <img
                            src="../public/IMG/guitar5.webp"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <div class="min-w-full h-screen">
                        <img
                            src="../public/IMG/ukulele1.webp"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <div class="min-w-full h-screen">
                        <img
                            src="../public/IMG/guitar1.jpg"
                            class="w-full h-full object-cover"
                        />
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-0 flex justify-between p-4">
                <button id="prevSlide" class="text-white text-4xl">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button id="nextSlide" class="text-white text-4xl">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </main>

        <h1 class="font-bold underline p-12">Welcome to My Music Store</h1>
    </body>
</html>
