<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy Music</title>
        <link rel="icon" href="../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
        <style>
            /* Sửa lại hiệu ứng typing */
            #typing {
                white-space: nowrap;
                overflow: hidden; /* Đảm bảo phần tử chỉ hiển thị trong width của nó */
                border-right: 2px solid white; /* Hiệu ứng con trỏ gõ */
                width: 22ch; /* Chiều rộng cho phép của văn bản */
                animation: typing 5s steps(22) 1s infinite alternate;
            }
            #crow {
                animation: crow 0.5s linear 0s infinite;
            }
            @keyframes typing {
                from {
                    width: 0;
                }
                to {
                    width: 22ch;
                }
            }
            @keyframes crow {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        </style>
    </head>
    <body class="font-mono bg-[#BBB5AC]">
        <header class="h-20 p-2.5 bg-[#130C0E] flex items-center shadow-xl">
            <a href="../pages/home.html" class="ml-5"
                ><img
                    class="h-14 w-14"
                    src="../public/IMG/Akuy_logo.png"
                    alt=""
            /></a>
            <a href="../pages/home.html" class="text-[32px] text-[#fff] ml-3"
                >AKUY MUSIC</a
            >
            <div>
                <ul class="flex ml-[100px] text-[18px] text-[#fff] font-bold">
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">GUITAR</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">UKULELE</a>
                    </li>
                    <li class="mx-7 duration-200 hover:text-red-400">
                        <a href="">KALIMBA</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="flex ml-60 text-[#fff]">
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-magnifying-glass"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href="./login.html"
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-regular fa-user"
                            ></i
                        ></a>
                    </li>
                    <li class="mx-5">
                        <a href=""
                            ><i
                                class="duration-200 hover:text-red-400 hover:text-[20px] fa-solid fa-cart-shopping"
                            ></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="flex">
            <section class="h-[500px] pt-20 pl-20">
                <div
                    class="w-[500px] overflow-hidden relative rounded-2xl shadow-xl"
                >
                    <div class="flex duration-1000 translate-x-0 list_item">
                        <img src="../public/IMG/guitar5.webp" class="" />
                        <img src="../public/IMG/uk.jpg" class="" />
                        <img src="../public/IMG/guitar1.jpg" class="" />
                    </div>
                    <div class="btns">
                        <div
                            class="text-[25px] text-[#999] absolute top-[40%] translate-y-[50%] left-2 cursor-pointer duration-200 hover:text-[#fff] hover:text-[27px] btn_left btn"
                        >
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                        <div
                            class="text-[25px] text-[#999] absolute top-[40%] translate-y-[50%] right-2 cursor-pointer duration-200 hover:text-[#fff] hover:text-[27px] btn_right btn"
                        >
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </section>
            <article class="float-right pt-28 pl-28">
                <div
                    id="typing"
                    class="text-white float-left font-bold text-[45px]"
                >
                    Akuy <span>xin chào bạn </span><br />
                    <span class="text-[20px] text-red-700"
                        >chúc bạn có một ngày mua sắm vui vẻ</span
                    >
                </div>

                <div
                    id="crow"
                    class="float-left text-white font-bold text-[45px]"
                ></div>
            </article>
        </main>
        <nav class="pt-10 text-white justify-center flex font-bold">
            <h1 class="text-[28px] text-[#130C0E]">
                Mỗi người đều là một nghệ sĩ
            </h1>
        </nav>
        <div class="h-[150px] flex justify-center border-b border-gray-500">
            <p class="w-[900px] text-gray-800 text-center">
                Với cam kết luôn mang lại sự mới mẻ, Akuy liên tục mở rộng sang
                các lĩnh vực mới, đáp ứng nhu cầu không ngừng phát triển của thị
                trường nhạc cụ. Hãy đồng hành cùng Akuy trên hành trình định
                nghĩa lại những khái niệm, phát triển khả năng và để lại dấu ấn
                lâu dài trong thế giới âm nhạc
            </p>
        </div>
        <section
            class="h-[800px] flex justify-around pt-32 border-b border-gray-500"
        >
            <div>
                <a href=""
                    ><img
                        class="h-[500px] w-[350px] object-cover image-rendering-crisp duration-200 hover:h-[520px] hover:w-[370px]"
                        src="../public/IMG/guitar_VT_RM.png"
                        alt=""
                /></a>
                <a
                    class="flex justify-center mx-28 mt-5 font-bold rounded-xl duration-200 hover:text-[#fff] hover:bg-[#130C0E]"
                    href=""
                    >Đàn Guitar →</a
                >
            </div>
            <div>
                <a href=""
                    ><img
                        class="h-[500px] w-[350px] object-cover image-rendering-crisp duration-200 hover:h-[520px] hover:w-[370px]"
                        src="../public/IMG/uku_VT_RM.png"
                        alt=""
                /></a>
                <a
                    class="flex justify-center mt-5 font-bold rounded-xl mx-28 hover:bg-[#130C0E] duration-200 hover:text-[#fff]"
                    href=""
                    >Đàn Ukulele →</a
                >
            </div>
        </section>
        <aside class="h-[330px]">
            <div class="pt-16">
                <ul class="flex justify-around">
                    <li class="w-64 bg-[#c4bfb4] p-3 rounded-md text-gray-800">
                        <h2 class="text-[#130C0E] font-bold text-[20px]">
                            ĐẢM BẢO CHẤT LƯỢNG
                        </h2>
                        Mua hàng một cách yên tâm. Chúng tôi luôn kiểm tra và
                        đóng gói cẩn thận trước khi giao hàng. Bạn được quyền
                        kiểm tra khi nhận hàng.
                    </li>
                    <li class="w-64 bg-[#c4bfb4] p-3 rounded-md text-gray-800">
                        <h2 class="text-[#130C0E] font-bold text-[20px]">
                            THANH TOÁN DỄ DÀNG
                        </h2>
                        Các tùy chọn thanh toán phổ biến như: Tiền mặt, chuyển
                        khoản, quét thẻ, ví điện tử… giúp bạn thanh toán một
                        cách dễ dàng. Chương trình trả góp lên tới 12 tháng.
                    </li>
                    <li class="w-64 bg-[#c4bfb4] p-3 rounded-md text-gray-800">
                        <h2 class="text-[#130C0E] font-bold text-[20px]">
                            BẢO HÀNH LÂU DÀI
                        </h2>
                        Bảo hành chính hãng 12 tháng. Đổi mới trong 1 tuần đầu
                        tiên nếu có lỗi. Đảm bảo bạn hài lòng với giao dịch mua
                        hàng của mình.
                    </li>
                    <li class="w-64 bg-[#c4bfb4] p-3 rounded-md text-gray-800">
                        <h2 class="text-[#130C0E] font-bold text-[20px]">
                            GIAO HÀNG TẬN NHÀ
                        </h2>
                        Giao hàng tận nhà trên toàn quốc. TP.HCM và các khu vực
                        lân cận: Giao hàng trong 2 giờ. Các tỉnh thành khác:
                        Thời gian giao hàng từ 01 đến 03 ngày.
                    </li>
                </ul>
            </div>
        </aside>
        <nav class="h-48 bg-[#130C0E] p-2 border-gray-500 border-b">
            <h1 class="font-bold flex justify-center text-white text-[22px]">
                Hãy vững bước theo đam mê của mình
            </h1>
            <h3 class="flex justify-center text-white text-[22px]">
                Akuy Tin rằng với sự đam mê và nỗ lực, bạn chắc chắn sẽ đạt được
                thành công
            </h3>
            <div class="w-80 pt-7 ml-[450px]">
                <ul class="flex justify-around">
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a
                            href="https://www.facebook.com/profile.php?id=100026007228375"
                            ><i class="fa-brands fa-square-facebook"></i
                        ></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li
                        class="text-[40px] text-white duration-200 hover:text-gray-300 hover:text-[41px]"
                    >
                        <a href="https://www.instagram.com/akuy.66/"
                            ><i class="fa-brands fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </nav>
        <footer class="h-10 bg-[#130C0E] p-2">
            <ul class="flex justify-around text-gray-500 items-center">
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./policies/refund-policy.html"
                        >Chính sách hoàn tiền</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./policies/privacy-policy.html"
                        >Chính sách quyền riêng tư</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./policies/terms-of-service.html"
                        >Điều khoản dịch vụ</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./policies/shipping-policy.html"
                        >Chính sách vận chuyển</a
                    >
                </li>
                <li class="duration-200 hover:text-white hover:underline">
                    <a href="./policies/contact-information.html"
                        >Thông tin liên hệ</a
                    >
                </li>
            </ul>
        </footer>
    </body>
    <script src="../src/home.ts" type="module"></script>
</html>
