<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - Akuy Music</title>
        <link rel="icon" href="../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body
        class="font-mono bg-[#BBB5AC] flex justify-center items-center min-h-screen p-2.5"
    >
        <form action="" class="p-2.5 bg-[#130C0E] w-auto h-auto"></form>
    </body>
</html>
