<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akuy - Music</title>
        <link rel="icon" href="../public/IMG/Akuy_logo.png" />
        <link rel="stylesheet" href="../src/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body
        class="font-mono bg-[#BBB5AC] flex justify-center items-center min-h-screen p-25"
    >
        <div
            class="bg-[#130C0E] text-[#fff] p-8 rounded-lg shadow-lg max-w-md w-full"
        >
            <nav class="flex justify-center">
                <nav class="flex items-center">
                    <a href="./home.html"
                        ><img
                            class="w-14 h-14"
                            src="../public/IMG/Akuy_logo.png"
                            alt=""
                    /></a>
                    <a class="text-[32px] ml-3" href="./home.html"
                        >Akuy Music</a
                    >
                </nav>
            </nav>
            <form class="mt-5">
                <div class="mb-4">
                    <label class="block text-lg font-bold mb-2" for="username"
                        >Username</label
                    >
                    <input
                        class="w-full p-3 border rounded-lg text-black"
                        type="text"
                        id="username"
                        placeholder="Username"
                    />
                </div>

                <div class="mb-4">
                    <label class="block text-lg font-bold mb-2" for="password"
                        >Password</label
                    >
                    <input
                        class="w-full p-3 border rounded-lg text-black"
                        type="password"
                        id="password"
                        placeholder="********"
                    />
                </div>

                <div class="mb-4">
                    <label
                        class="block text-lg font-bold mb-2"
                        for="confirm_password"
                        >Confirm Password</label
                    >
                    <input
                        class="w-full p-3 border rounded-lg text-black"
                        type="password"
                        id="confirm_password"
                        placeholder="********"
                    />
                </div>

                <button
                    type="submit"
                    class="w-full bg-blue-500 mt-3 text-white py-3 rounded-lg font-bold text-lg hover:bg-blue-600 transition duration-200"
                >
                    Đăng kí
                </button>

                <div class="flex justify-center items-center mt-6">
                    <p class="mr-2 text-lg">Bạn đã có tài khoản?</p>
                    <a
                        href="./login.html"
                        class="text-blue-500 font-bold text-lg"
                        >Đăng Nhập</a
                    >
                </div>
            </form>
        </div>
    </body>
</html>
